<ion-view title="iPallor">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input
                    type="search"
                    ng-model="searchClinicians"
                    placeholder="Search Clinician">
            </label>
        </form>
        <ion-list>
            <ion-item
                ng-repeat="clinician in vm.clinicians | filter:searchClinicians"
                ng-click="vm.selectClinician(clinician)"
                href="#/patientList"
            >
                {{ clinician }}
            </ion-item>
        </ion-list>
        <a href="#/clinicianAdd" class="button button-balanced button-block  icon-left ion-android-person-add">Add Clinician</a>
    </ion-content>
</ion-view>