<ion-view title="Confirm Submission">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 170px;"></div>
        <div class="button-bar">
            <a href="#/diagnosisDetails/details" class="button button-balanced button-block ">Confirm</a>
            <a href="#/processPicture" class="button button-assertive button-block ">Cancel</a>
        </div>
    </ion-content>
</ion-view>