<ion-view title="Confirm Submission">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <img class="ion-image" src="{{ vm.src }}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" />
        </div>

        <label class="item item-input item-select">
            <span class="input-label">Eye</span>
            <select ng-model="vm.eye">
                <option selected>Left</option>
                <option>Right</option>
            </select>
        </label>

        <div class="button-bar">
            <a href="#/processPicture" class="button button-assertive button-block">Cancel</a>
            <button
                ng-click="vm.createDiagnosis()"
                ng-disabled="vm.validateSubmit()"
                class="button button-balanced button-block"
            >Confirm</button>
        </div>
    </ion-content>
</ion-view>