<ion-view title="Upload">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <canvas id="processed-picture" class="ion-image" height="300" width="300"></canvas>
            <div class="row">
                <h3 class="col-33">R: {{ rgb.r }}</h3>
                <h3 class="col-33">B: {{ rgb.g }}</h3>
                <h3 class="col-33">G: {{ rgb.b }}</h3>
            </div>
            <div class="row">
                <h3 class="col-50">X: {{ mousePos.x }}</h3>
                <h3 class="col-50">Y: {{ mousePos.y }}</h3>
            </div>
            <div class="row">
                <h3 class="col">Data Points: {{ dataPoints }}</h3>
            </div>
        </div>
        <!--<button id="resetBtn" class="button button-balanced button-block ">Reset Zoom</button>-->
        <div class="button-bar">
            <button
              ng-disabled="dataPoints > 4"
              ng-click="vm.addDataPoint()"
              class="button button-positive button-block">Add data point</button>
            <button
              ng-disabled="dataPoints <= 0" 
              ng-click="vm.undoDataPoint()"
              class="button button-assertive button-block ">Undo</button>
        </div>
        <button 
          ng-disabled="dataPoints !== 5"
          ng-click="vm.navigateToSubmit()"
          class="button button-balanced button-block">Submit</button>
    </ion-content>
</ion-view>