<ion-view title="Upload">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <img id="procPic" class="ion-image" src="vm.currentPicture" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"/>
        </div>
        <div class="spacer" style="width: 300px; height: 104px;"></div>
        <button id="resetBtn" class="button button-balanced button-block ">Reset Zoom</button>
        <div class="button-bar">
            <button ng-click="vm.addDataPoint()" class="button button-positive button-block ">Add data point</button>
            <button ng-click="vm.undoDataPoint()" class="button button-assertive button-block ">Undo</button>
        </div>
        <a href="#/processSubmit" class="button button-balanced button-block ">Submit</a>
    </ion-content>
</ion-view>