<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.2.13" targetFramework="mdd81" />
  <package id="angularjs" version="1.4.3" targetFramework="mdd81" />
  <package id="AngularJS.Animate" version="1.4.3" targetFramework="mdd81" />
  <package id="AngularJS.Core" version="1.4.3" targetFramework="mdd81" />
  <package id="AngularJS.Sanitize" version="1.4.3" targetFramework="mdd81" />
  <package id="ionic" version="1.1.0" targetFramework="mdd81" />
</packages>