<ion-view title="Choose Patient">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="searchPatients" placeholder="Search Patient">
            </label>
        </form>
        <ion-list>
            <ion-item
                ng-repeat="patient in vm.patients | filter:searchPatients"
                ng-click="vm.selectPatient(patient)"
                href="#/patientDetails"
            >
              {{ patient }}
            </ion-item>
        </ion-list>
        <a href="#/patientAdd" class="button button-balanced button-block  icon-left ion-android-person-add">Add Patient</a>
    </ion-content>
</ion-view>