<ion-view title="Add Clinician">
  <ion-content padding="true" class="has-header">
      <div class="list">
          <label class="item item-input item-stacked-label">
              <span class="input-label">First Name</span>
              <input
                  ng-model="formData.firstName"
                  type="text"
                  placeholder="John">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">Last Name</span>
              <input
                  ng-model="formData.lastName"
                  type="text"
                  placeholder="Suhr">
          </label>
      </div>
      <div class="spacer" style="width: 300px; height: 250px;"></div>
      <a
          ng-click="vm.addClinician()"
          href="#/clinicianList"
          class="button button-balanced button-block"
      >
          Add Clinician
      </a>
  </ion-content>
</ion-view>