<ion-view title="Add Patient">
    <ion-content padding="true" class="has-header">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input
                    ng-model="formData.firstName"
                    type="text"
                    placeholder="John"
                >
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input
                    ng-model="formData.lastName"
                    type="text"
                    placeholder="Suhr">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Age</span>
                <input
                    ng-model="formData.age"
                    type="text"
                    placeholder="25">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Phone</span>
                <input
                    ng-model="formData.phone"
                    type="text"
                    placeholder="123-456-7890">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Gender</span>
                <select ng-model="formData.gender">
                    <option value="Male" selected>Male</option>
                    <option value="Female">Female</option>
                </select>
            </label>
        </div>
        <div class="spacer" style="width: 300px; height: 100px;"></div>
        <a
            ng-click="vm.addPatient()"
            href="#/patientList"
            class="button button-balanced button-block"
        >
          Add Patient
        </a>
    </ion-content>
</ion-view>