<ion-view title="Add Patient">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="name">
            </label>
            <label class="item item-select">
                <span class="input-label"></span>
                <select>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="tel" placeholder="phone number">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="email">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 220px;"></div>
        <a href="#/page1" class="button button-balanced button-block ">Add Patient</a>
    </ion-content>
</ion-view>