<ion-view title="Patient Info">
    <ion-content padding="true" class="has-header">
        <h1>Max Paulus</h1>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Age: 21</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Gender: male</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Phone: 949-555-1234</span><textarea placeholder=""> </textarea>
            </label>
        </ion-list>
        <a href="#/page3" class="button button-stable button-block  icon-right ion-android-clipboard">Diagnosis History</a>
        <a href="#/page8" class="button button-balanced button-block  icon-right ion-android-camera">Upload</a>
        <div class="spacer" style="width: 300px; height: 106px;"></div>
        <button class="button button-assertive button-block  icon-right ion-android-delete">Remove Patient</button>
    </ion-content>
</ion-view>