<ion-view title="Patient Info">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
              <span class="input-label">Name: {{ vm.currentPatient.name }}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Age: {{ vm.currentPatient.age }}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Gender: {{ vm.currentPatient.gender }}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Phone: {{ vm.currentPatient.phone }}</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Recent Diagnosis: {{ vm.currentPatient.recentDiagnosis }}</span>
            </label>
        </ion-list>
        <a href="#/diagnosisList" class="button button-balanced button-block  icon-right ion-android-clipboard">Diagnosis History</a>
        <a href="#/processPicture" class="button button-balanced button-block  icon-right ion-android-camera">Process Picture</a>
    </ion-content>
    <div class="bar bar-footer">
      <a href="#/patientList" class="button button-royal icon-right ion-arrow-return-left">Switch Patients</a>
      <button ng-click="vm.removePatient()" class="button button-assertive icon-right ion-android-delete">{{ vm.removePatientCaption }}</button>
    </div>
</ion-view>
